{% extends "main.html" %}
{% block content %}

<div class="text-center">
<h1>{{restaurant.name}}</h1>
<a href="{{url_for('editRestaurant', restaurant_id=restaurant_id)}}">Edit</a>
<a href="{{url_for('deleteRestaurant', restaurant_id=restaurant_id)}}">Delete</a>
</div>
<div class="text-right">
    <a href="{{url_for('disconnect')}}">Disconnect</a>
    <br>
    <a href="{{url_for('showRestaurants')}}">Back to restaurants</a>
</div>
<hr>

<div class="text-center">
    {% with messages = get_flashed_messages()%}
      {% if messages %}
        <ul>
        {% for message in messages %}
        <li><strong> {{ message }} </strong></li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
</div>

<div class="text-center">
<form action = "{{url_for('showMenu', restaurant_id = restaurant_id)}}" method='GET'>
<p>Menu</p>
{% for m in menus %}
    <p> {{m.name}} </p>
    <p> {{m.price}} </p>
    <p> {{m.description}} </p>
    <p> {{m.course}}</p>
    <a href="{{url_for('editMenuItem', restaurant_id=restaurant.id, menu_id=m.id)}}">Edit</a>
    <br>
    <a href="{{url_for('deleteMenuItem', restaurant_id=restaurant.id, menu_id=m.id)}}">Delete</a>
    <br>
    <a href="{{url_for('newMenuItem', restaurant_id=restaurant_id)}}">New Menu Item</a>
    <br>
    <br>
{%endfor%}
<br>
</form>
</div>
{% endblock %}