<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style.css')}}">
</head>
<body>

<h1> {{restaurant.name}} </h1>

    {% with messages = get_flashed_messages()%}
      {% if messages %}
        <ul>
        {% for message in messages %}
        <li><strong> {{ message }} </strong></li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

<form action = "{{url_for('showMenu', restaurant_id = restaurant_id)}}" method='GET'>

<p>Menu</p>

{% for m in menus %}

    <p> {{m.name}} </p>
    <p> {{m.price}} </p>
    <p> {{m.description}} </p>
    <p> {{m.course}}</p>

{%endfor%}

<br>


</form>
</body>
</html>