<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style.css')}}">
</head>
<body>
<h1> Restaurants</h1>
    {%if 'username' not in session%}
    <a href="{{url_for('showLogin')}}">Click here to login</a>
    {% else %}
    <a href="{{url_for('disconnect')}}">Disconnect</a>
    {% endif %}


    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
        <li><strong> {{ message }} </strong></li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}


<form action = "url_for('showRestaurants')" method='GET'>
<br>
{% for r in restaurants %}
    {{r.name}}
    <br>
{% endfor%}


</form>

</body>
</html>