<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style.css')}}">
</head>
<body>
<h1> Restaurants</h1>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
        <li><strong> {{ message }} </strong></li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}


<form action = "url_for('showRestaurants')" method='GET'>

{% for r in restaurants %}
    {{r.name}}
    <br>
{% endfor%}

</form>

</body>
</html>