{% extends "main.html" %}
{% block content %}

<div class="text-center">
    <h1> Edit Menu Item</h1>
</div>

<div class="text-center">
    <form action= "{{url_for('editMenuItem', restaurant_id = restaurant_id, menu_id = item.id)}}" method = 'POST'>
        <p>Name:</p>
        <input type = 'text' name = 'name' value = '{{item.name}}'>
        <br>
        <p>Description:</p>
        <input type = 'text' name = 'description' value = '{{item.description}}'>
        <br>
        <p>Price:</p>
        <input type = 'text' name = 'price' value = '{{item.price}}'>
        <br>
        <p>Course:</p>
        <input type = 'text' name = 'course' value = '{{item.course}}'>
        <br>
        <br>
        <button type="submit" value="Edit">Edit</button>
        <a href= "{{url_for('showMenu',restaurant_id=restaurant_id)}}">Cancel</a>
    </form>
</div>

{% endblock %}