{% extends "main.html" %}
{% block content %}
<br>
<div class="row">
        <div class="text-right">
        {%if 'username' not in session%}
        <a href="{{url_for('showLogin')}}">Click here to login</a>
        {% else %}
        <a href="{{url_for('disconnect')}}">Disconnect</a>
        {% endif %}
        </div>
        <div class="text-right">
            <a href="{{url_for('showRestaurants')}}">Back to restaurants</a>
        </div>
    </div>
<div class="row">
<h1 class="text-center"> {{restaurant.name}} </h1>
</div>
<hr>

<div class="text-center">
    {% with messages = get_flashed_messages()%}
      {% if messages %}
        <ul>
        {% for message in messages %}
        <li><strong> {{ message }} </strong></li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
</div>

<div class="text-center">
<form action = "{{url_for('showMenu', restaurant_id = restaurant_id)}}" method='GET'>

<h3>Menu</h3>
<br>

{% for m in menus %}

    <p> {{m.name}} </p>
    <p> {{m.price}} </p>
    <p> {{m.description}} </p>
    <p> {{m.course}}</p>
<br>

{%endfor%}


</form>
</div>
{% endblock %}


